In [ ]:
import pandas as pd

AQI_indexes = pd.read_csv("/content/drive/MyDrive/Team 03/Pollution_Data/Median_AQI_byCounty.csv")
AQI_indexes.head(10)

,Unnamed: 0,State,County,2022_Median_AQI,2021_Median_AQI,2020_Median_AQI,2019_Median_AQI,2018_Median_AQI,2017_Median_AQI,2016_Median_AQI,...,1989_Median_AQI,1988_Median_AQI,1987_Median_AQI,1986_Median_AQI,1985_Median_AQI,1984_Median_AQI,1983_Median_AQI,1982_Median_AQI,1981_Median_AQI,1980_Median_AQI
0,0,Alabama,Baldwin,40.0,35.0,36.0,37.0,35.0,36.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Alabama,Barbour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Alabama,Clay,27.0,27.0,26.0,30.0,27.0,30.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Alabama,Colbert,NaN,NaN,NaN,37.0,35.0,37.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Alabama,DeKalb,37.0,36.0,36.0,39.0,35.0,39.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Alabama,Elmore,37.0,32.0,31.0,39.0,33.0,35.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Alabama,Escambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Alabama,Etowah,42.0,36.0,34.0,43.0,41.0,45.0,52.0,...,28.0,33.0,39.0,46.0,45.0,47.0,45.0,48.0,44.0,NaN
8,8,Alabama,Houston,NaN,NaN,NaN,35.0,35.0,35.0,35.0,...,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Alabama,Jefferson,51.0,51.0,48.0,53.0,50.0,51.0,49.0,...,46.0,51.0,52.0,50.0,48.0,45.0,50.0,50.0,64.0,50.0

In [ ]:
# Select out relevant years

AQI_select = AQI_indexes[["State", "County", "2019_Median_AQI", "2015_Median_AQI", "2010_Median_AQI"]]
AQI_select

        State      County  2019_Median_AQI  2015_Median_AQI  2010_Median_AQI
0     Alabama     Baldwin             37.0             38.0             43.0
1     Alabama     Barbour              NaN              NaN              NaN
2     Alabama        Clay             30.0             32.0             42.0
3     Alabama     Colbert             37.0             36.0             47.0
4     Alabama      DeKalb             39.0             37.0             43.0
...       ...         ...              ...              ...              ...
1131  Wyoming      Platte             14.0             14.0             12.0
1132  Wyoming    Sheridan             39.0             38.0             21.0
1133  Wyoming    Sublette             46.0             44.0             47.0
1134  Wyoming  Sweetwater             46.0             44.0             45.0
1135  Wyoming       Teton             43.0             42.0             44.0

[1136 rows x 5 columns]

In [ ]:
# Change format of county column

for i in range(len(AQI_select)):

  AQI_select["County"].values[i] = AQI_select["County"].values[i] + f" County, {AQI_select['State'].values[i]}"


# Baldwin County, Alabama

In [ ]:
AQI_select.head(10)

,State,County,2019_Median_AQI,2015_Median_AQI,2010_Median_AQI
0,Alabama,"Baldwin County, Alabama",37.0,38.0,43.0
1,Alabama,"Barbour County, Alabama",NaN,NaN,NaN
2,Alabama,"Clay County, Alabama",30.0,32.0,42.0
3,Alabama,"Colbert County, Alabama",37.0,36.0,47.0
4,Alabama,"DeKalb County, Alabama",39.0,37.0,43.0
5,Alabama,"Elmore County, Alabama",39.0,35.0,43.0
6,Alabama,"Escambia County, Alabama",NaN,NaN,NaN
7,Alabama,"Etowah County, Alabama",43.0,46.0,54.0
8,Alabama,"Houston County, Alabama",35.0,33.0,48.0
9,Alabama,"Jefferson County, Alabama",53.0,48.0,59.0

In [ ]:
# Drop State column and change county column name

QI_cleaned = AQI_select.drop("State", axis=1)


AQI_cleaned = AQI_cleaned.rename(columns={"County": "County_Name"})

AQI_cleaned.head()

               County_Name  2019_Median_AQI  2015_Median_AQI  2010_Median_AQI
0  Baldwin County, Alabama             37.0             38.0             43.0
1  Barbour County, Alabama              NaN              NaN              NaN
2     Clay County, Alabama             30.0             32.0             42.0
3  Colbert County, Alabama             37.0             36.0             47.0
4   DeKalb County, Alabama             39.0             37.0             43.0

In [ ]:
# Save to CSV
AQI_cleaned.to_csv("/content/drive/MyDrive/Team 03/Pollution_Data/Median_AQI10-15-19.csv")