In [72]:
import pandas as pd

# Read in the 2003 dataset because it has the most counties
url_2003=f"https://aqs.epa.gov/aqsweb/airdata/annual_aqi_by_county_2003.zip"
AQI_df2003=pd.read_csv(url_2003)

join_df = AQI_df2003[["State", "County"]]

join_df.head(20)

      State      County
0   Alabama     Baldwin
1   Alabama     Barbour
2   Alabama        Clay
3   Alabama     Colbert
4   Alabama      DeKalb
5   Alabama      Elmore
6   Alabama    Escambia
7   Alabama      Etowah
8   Alabama     Houston
9   Alabama   Jefferson
10  Alabama    Lawrence
11  Alabama   Limestone
12  Alabama     Madison
13  Alabama     Marengo
14  Alabama      Mobile
15  Alabama  Montgomery
16  Alabama      Morgan
17  Alabama        Pike
18  Alabama     Russell
19  Alabama      Shelby

In [73]:
# Def current year variable
year = 2022

# For loop iterating through the files, getting Median AQI for every year per county
for i in range(int(year-1979)):
  
  url=f"https://aqs.epa.gov/aqsweb/airdata/annual_aqi_by_county_{year}.zip"
  rawAQI_df=pd.read_csv(url)

  AQI_df = rawAQI_df[["State", "County", "Median AQI"]]
  AQI_df.rename(columns = {"Median AQI" : f"{year}_Median_AQI"}, inplace = True)
  
  join_df = pd.merge(join_df, AQI_df, how="left", on = ["State", "County"])

  year = year-1

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [74]:
join_df

,State,County,2022_Median_AQI,2021_Median_AQI,2020_Median_AQI,2019_Median_AQI,2018_Median_AQI,2017_Median_AQI,2016_Median_AQI,2015_Median_AQI,...,1989_Median_AQI,1988_Median_AQI,1987_Median_AQI,1986_Median_AQI,1985_Median_AQI,1984_Median_AQI,1983_Median_AQI,1982_Median_AQI,1981_Median_AQI,1980_Median_AQI
0,Alabama,Baldwin,40.0,35.0,36.0,37.0,35.0,36.0,37.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,Barbour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alabama,Clay,27.0,27.0,26.0,30.0,27.0,30.0,30.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alabama,Colbert,NaN,NaN,NaN,37.0,35.0,37.0,38.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alabama,DeKalb,37.0,36.0,36.0,39.0,35.0,39.0,40.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,Wyoming,Platte,16.0,16.0,19.0,14.0,15.0,15.0,16.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1132,Wyoming,Sheridan,42.0,39.0,39.0,39.0,45.0,42.0,38.0,38.0,...,31.0,38.0,46.0,42.0,54.0,NaN,NaN,NaN,NaN,NaN
1133,Wyoming,Sublette,46.0,46.0,44.0,46.0,47.0,48.0,44.0,44.0,...,10.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1134,Wyoming,Sweetwater,43.0,45.0,46.0,46.0,48.0,46.0,44.0,44.0,...,30.0,NaN,29.0,23.0,28.0,NaN,NaN,NaN,NaN,NaN
1135,Wyoming,Teton,44.0,44.0,42.0,43.0,44.0,44.0,41.0,42.0,...,38.0,40.0,38.0,31.0,26.0,NaN,NaN,NaN,NaN,NaN

In [78]:
# Save to CSV
join_df.to_csv("/content/drive/MyDrive/Team 03/Pollution_Data/Median_AQI_byCounty.csv")